<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BaseInfoMapper">

	<!-- 用户 -->
	<resultMap id="UserInfoMap" type="UserInfo">
		<id property="id" column="id" />
		<result property="account" column="account" />
		<result property="nickName" column="nickName" />
		<result property="password" column="password" />
		<result property="phone" column="phone" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="country" column="country" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="openID" column="openID" />
		<result property="unionID" column="unionID" />
		<result property="groupID" column="groupID" />
		<result property="subscribe" column="subscribe" />
	</resultMap>

	<select id="getUserByAccount" parameterType="String" resultMap="UserInfoMap">
		SELECT *
		FROM user
		WHERE account = #{account}
	</select>

	<insert id="createUser" parameterType="UserInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user
		(account,nickName,password,phone,sex,age,province,city,country,openID,unionID,groupID,subscribe)
		VALUES
		(#{account},#{nickName},#{password},#{phone},#{sex},#{age},#{province},#{city},#{country},#{openID},#{unionID},#{groupID},#{subscribe})
	</insert>

	<update id="updateUser" parameterType="UserInfo">
		UPDATE user SET
		nickName =
		#{nickName},
		password = #{password},
		phone =
		#{phone},
		sex = #{sex},
		age =
		#{age},
		province =
		#{province},
		city = #{city},
		country =
		#{country},
		openID = #{openID},
		unionID = #{unionID},
		groupID = #{groupID},
		subscribe = #{subscribe}
		WHERE
		account = #{account}
	</update>

	<!-- 鱼缸 -->
	<resultMap id="FishTankMap" type="FishTankInfo">
		<id property="id" column="id" />
		<result property="length" column="length" />
		<result property="width" column="width" />
		<result property="height" column="height" />
		<result property="volume" column="volume" />
		<result property="type" column="type" />
		<result property="userAccount" column="userAccount" />
		<result property="tankCreateTime" column="tankCreateTime" />
	</resultMap>

	<insert id="createFishTank" parameterType="FishTankInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO fishtank
		(length,width,height,volume,type,userAccount,tankCreateTime)
		VALUES
		(#{length},#{width},#{height},#{volume},#{type},#{userAccount},#{tankCreateTime})
	</insert>

	<update id="updateFishTankByUserAccount" parameterType="FishTankInfo">
		UPDATE
		fishtank SET
		length
		= #{length},
		width = #{width},
		height = #{height},
		volume =
		#{volume},
		type = #{type},
		tankCreateTime = #{tankCreateTime}
		WHERE
		userAccount =
		#{userAccount}
	</update>

	<select id="getFishTankByAccount" parameterType="String"
		resultMap="FishTankMap">
		SELECT *
		FROM fishtank
		WHERE userAccount = #{userAccount}
	</select>

	<!-- 网络 -->
	<resultMap id="NetworkMap" type="NetworkInfo">
		<id property="id" column="id" />
		<result property="ssid" column="ssid" />
		<result property="password" column="password" />
		<result property="userAccount" column="userAccount" />
	</resultMap>

	<insert id="createNetwork" parameterType="NetworkInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO network
		(ssid,password,userAccount)
		VALUES
		(#{ssid},#{password},#{userAccount})
	</insert>

	<select id="getNetworkByAccountSSID" parameterType="HashMap"
		resultMap="NetworkMap">
		SELECT *
		FROM network
		WHERE userAccount = #{userAccount} and
		ssid = #{ssid}
	</select>

	<update id="updateNetworkByUserAccount" parameterType="NetworkInfo">
		UPDATE
		network SET
		ssid
		= #{ssid},
		password = #{password}
		WHERE
		userAccount =
		#{userAccount}
	</update>

	<!-- 设备与用户关系 -->
	<resultMap id="UserDevMap" type="UserDevInfo">
		<id property="id" column="id" />
		<result property="userAccount" column="userAccount" />
		<result property="devSN" column="devSN" />
	</resultMap>

	<insert id="createUserDevLink" parameterType="UserDevInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_dev
		(userAccount,devSN)
		VALUES
		(#{userAccount},#{devSN})
	</insert>

	<select id="getDevSNByUserAccount" parameterType="String"
		resultType="String">
		SELECT devSN
		FROM user_dev
		WHERE userAccount = #{userAccount}
	</select>

	<select id="getBindInfoByAccountSN" parameterType="HashMap"
		resultMap="UserDevMap">
		SELECT *
		FROM user_dev
		WHERE userAccount = #{userAccount} and
		devSN = #{devSN}
	</select>

	<!-- 告警 -->
	<resultMap id="AlarmInfoMap" type="AlarmInfo">
		<id property="id" column="id" />
		<result property="userAccount" column="userAccount" />
		<result property="devSN" column="devSN" />
		<result property="sensorType" column="sensorType" />
		<result property="maxThreshold" column="maxThreshold" />
		<result property="minThreshold" column="minThreshold" />
		<result property="switchStatus" column="switchStatus" />
	</resultMap>

	<insert id="createAlarm" parameterType="AlarmInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO alarm
		(userAccount,devSN,sensorType,maxThreshold,minThreshold,switchStatus)
		VALUES
		(#{userAccount},#{devSN},#{sensorType},#{maxThreshold},#{minThreshold},#{switchStatus})
	</insert>

	<update id="updateAlarm" parameterType="AlarmInfo">
		UPDATE alarm SET
		maxThreshold
		= #{maxThreshold},
		minThreshold = #{minThreshold},
		switchStatus = #{switchStatus}
		WHERE devSN =
		#{devSN} and userAccount =
		#{userAccount} and sensorType =
		#{sensorType}
	</update>

	<select id="getAllAlarmByUserAccountDevSN" parameterType="HashMap"
		resultMap="AlarmInfoMap">
		SELECT *
		FROM alarm
		WHERE
		devSN =
		#{devSN} and userAccount =
		#{userAccount}
	</select>

	<select id="getAlarmByAccountDevSNType" parameterType="HashMap"
		resultMap="AlarmInfoMap">
		SELECT *
		FROM alarm
		WHERE
		devSN =
		#{devSN} and userAccount =
		#{userAccount} and sensorType =
		#{sensorType}
	</select>

	<!-- 老代码 -->
	<resultMap id="OptInfoMap" type="OptInfo">
		<id property="id" column="opt_info_id" />
		<result property="optType" column="opt_info_type" />
		<result property="optObject" column="opt_info_obj" />
		<result property="result" column="opt_info_result" />
		<result property="createTime" column="opt_info_time" />
		<association property="userInfo" resultMap="UserInfoMap" />
	</resultMap>

	<select id="getOptInfoById" parameterType="int" resultMap="OptInfoMap">
		SELECT *
		FROM opt_info o
		WHERE o.opt_info_id = #{id}
	</select>

	<select id="selectOptInfosByUserID" parameterType="int"
		resultMap="OptInfoMap">
		SELECT *
		FROM opt_info o
		WHERE o.user_id = #{id}
	</select>

	<insert id="createOptInfo" parameterType="OptInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO opt_info
		(opt_info_time,opt_info_type,opt_info_obj,opt_info_result,user_id,fish_equ_id)
		VALUES
		(#{createTime},#{optType},#{optObject},#{result},#{userInfo.id})
	</insert>

</mapper>  

